# FTest
# two workers >> if one worker is effective more than one

In [34]:
import pandas as pd
from scipy import stats

In [3]:
worker1 = [18,17,20,25,27,55,51,42,46,29]
worker2 = [18,16,22,26,39,51,48,44,58,12]

In [4]:
# calculate f statistics
import numpy as np
fstats = np.var(worker1)/np.var(worker2)

fstats

0.743155149934811

In [9]:
df1 = len(worker1)-1
df2 = len(worker2)-1
alpha = 0.05

In [10]:
df1

9

In [11]:
df2

9

In [14]:
import scipy.stats as stat
critical_value = stat.f.ppf(q = 1-alpha, dfn = df1, dfd = df2)

In [15]:
critical_value

3.178893104458269

In [19]:
if fstats >= critical_value:
    print('reject the null hypothesis')
else:
    print('fail to reject the null hypothesis')

fail to reject the null hypothesis

# Annova test

In [30]:
data = pd.read_csv(r"C:\Users\SqyUser\Desktop\Python\8 New Project data cleaning n Analysis\Plant.csv")

In [32]:
data.describe

<bound method NDFrame.describe of     Unnamed: 0  weight group
0            1    4.17  ctrl
1            2    5.58  ctrl
2            3    5.18  ctrl
3            4    6.11  ctrl
4            5    4.50  ctrl
5            6    4.61  ctrl
6            7    5.17  ctrl
7            8    4.53  ctrl
8            9    5.33  ctrl
9           10    5.14  ctrl
10          11    4.81  trt1
11          12    4.17  trt1
12          13    4.41  trt1
13          14    3.59  trt1
14          15    5.87  trt1
15          16    3.83  trt1
16          17    6.03  trt1
17          18    4.89  trt1
18          19    4.32  trt1
19          20    4.69  trt1
20          21    6.31  trt2
21          22    5.12  trt2
22          23    5.54  trt2
23          24    5.50  trt2
24          25    5.37  trt2
25          26    5.29  trt2
26          27    4.92  trt2
27          28    6.15  trt2
28          29    5.80  trt2
29          30    5.26  trt2>

In [33]:
data.columns

Index(['Unnamed: 0', 'weight', 'group'], dtype='object')

In [35]:
data

    Unnamed: 0  weight group
0            1    4.17  ctrl
1            2    5.58  ctrl
2            3    5.18  ctrl
3            4    6.11  ctrl
4            5    4.50  ctrl
5            6    4.61  ctrl
6            7    5.17  ctrl
7            8    4.53  ctrl
8            9    5.33  ctrl
9           10    5.14  ctrl
10          11    4.81  trt1
11          12    4.17  trt1
12          13    4.41  trt1
13          14    3.59  trt1
14          15    5.87  trt1
15          16    3.83  trt1
16          17    6.03  trt1
17          18    4.89  trt1
18          19    4.32  trt1
19          20    4.69  trt1
20          21    6.31  trt2
21          22    5.12  trt2
22          23    5.54  trt2
23          24    5.50  trt2
24          25    5.37  trt2
25          26    5.29  trt2
26          27    4.92  trt2
27          28    6.15  trt2
28          29    5.80  trt2
29          30    5.26  trt2

In [37]:
data.drop('Unnamed: 0', axis = 1, inplace = True )

In [38]:
data

    weight group
0     4.17  ctrl
1     5.58  ctrl
2     5.18  ctrl
3     6.11  ctrl
4     4.50  ctrl
5     4.61  ctrl
6     5.17  ctrl
7     4.53  ctrl
8     5.33  ctrl
9     5.14  ctrl
10    4.81  trt1
11    4.17  trt1
12    4.41  trt1
13    3.59  trt1
14    5.87  trt1
15    3.83  trt1
16    6.03  trt1
17    4.89  trt1
18    4.32  trt1
19    4.69  trt1
20    6.31  trt2
21    5.12  trt2
22    5.54  trt2
23    5.50  trt2
24    5.37  trt2
25    5.29  trt2
26    4.92  trt2
27    6.15  trt2
28    5.80  trt2
29    5.26  trt2

In [43]:
groups = data.group.unique()

In [67]:
groups

array(['ctrl', 'trt1', 'trt2'], dtype=object)

In [68]:
data1 = {grp: data['weight'][data['group'] == grp] for grp in groups}

In [62]:
data1

{'ctrl': 0    4.17
 1    5.58
 2    5.18
 3    6.11
 4    4.50
 5    4.61
 6    5.17
 7    4.53
 8    5.33
 9    5.14
 Name: weight, dtype: float64,
 'trt1': 10    4.81
 11    4.17
 12    4.41
 13    3.59
 14    5.87
 15    3.83
 16    6.03
 17    4.89
 18    4.32
 19    4.69
 Name: weight, dtype: float64,
 'trt2': 20    6.31
 21    5.12
 22    5.54
 23    5.50
 24    5.37
 25    5.29
 26    4.92
 27    6.15
 28    5.80
 29    5.26
 Name: weight, dtype: float64}

In [72]:
fstats, pvalue = stats.f_oneway(data['ctrl'],data['trt1'], data['trt2'])

KeyError: 'ctrl'